//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Button      2

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        alttab: alttab {
            compatible = "zmk,behavior-mod-morph";
            label = "ALTTAB";
            bindings = <&kp LEFT_CONTROL>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <(MOD_LALT)>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        typing {
            label = "Base";
            bindings = <
         &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U      &kp I      &kp O    &kp P
         &kp A  &kp S  &kp D     &kp F  &kp G        &kp H    &kp J      &kp K      &kp L    &kp APOSTROPHE
&alttab  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M      &kp COMMA  &kp DOT  &kp SLASH       &kp SEMICOLON
                       &kp LALT  &mo 1  &kp LSHFT    &kp RET  &kp SPACE  &kp LGUI
            >;
        };

        numbers {
            bindings = <
         &kp N1  &kp N2     &kp N3        &kp N4            &kp N5               &kp K_VOLUME_UP    &kp K_PLAY_PAUSE  &kp LC(Z)      &kp LC(Y)  &kp BACKSPACE
         &kp N6  &kp N7     &kp N8        &kp N9            &kp N0               &kp K_VOLUME_DOWN  &kp LEFT          &kp UP         &kp DOWN   &kp RIGHT
&kp TAB  &gresc  &kp MINUS  &kp EQUAL     &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &tog 2             &kp LC(X)         &kp LC(C)      &kp LC(V)  &kp DELETE     &to 2
                            &kp LEFT_ALT  &trans            &kp LSHIFT           &kp ENTER          &kp SPACE         &kp RIGHT_WIN
            >;
        };

        gaming {
            bindings = <
           &kp Q  &kp W  &kp E     &kp R  &kp T             &kp Y      &kp U      &kp I      &kp O    &kp P
           &kp A  &kp S  &kp D     &kp F  &kp G             &kp H      &kp J      &kp K      &kp L    &kp SEMI
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V  &kp B             &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp BSPC
                         &kp LALT  &mo 3  &kp LEFT_SHIFT    &kp ENTER  &kp SPACE  &kp RGUI
            >;
        };

        gaming-ext {
            bindings = <
         &kp N1  &kp N2     &kp N3        &kp N4            &kp N5               &kp F1     &kp F2          &kp F3         &kp F4          &kp BACKSPACE
         &kp N6  &kp N7     &kp N8        &kp N9            &kp N0               &kp F6     &kp LEFT_ARROW  &kp UP         &kp DOWN_ARROW  &kp RIGHT
&kp TAB  &gresc  &kp MINUS  &kp EQUAL     &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &kp F9     &kp F10         &kp DOWN       &kp F11         &kp F12        &to 0
                            &kp LEFT_ALT  &trans            &kp LEFT_SHIFT       &kp ENTER  &kp SPACE       &kp RIGHT_GUI
            >;
        };
    };
};
